* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

#wrapper {
    width: 100%;
}

#board {
    display: inline-block;
    height: 700px;
    width: 700px;
    background-color: rgba(20,20,20,0.4);
    margin: 0 auto;
}

table {
    margin: 0 auto;
}

td {
    text-align: center;
    font-size: 100px;
    width: 150px;
    height: 150px;
    margin: 5px;
    border: 3px solid rgba(20,20,20,0.1);
    background-color: rgb(10, 165, 17);
}

td:hover {
    background-color: blue;
}